
.icon-navig:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-shops:before { content: '\e802'; } /* '' */
.icon-manufacturer:before { content: '\e803'; } /* '' */
.icon-airline:before { content: '\e804'; } /* '' */
.icon-rub:before { content: '\e805'; } /* '' */
.icon-calc:before { content: '\e806'; } /* '' */
.icon-arrow:before { content: '\e807'; } /* '' */
